In [1]:
import pandas as pd

challenge_1_data = {
    'ID': [1, 2, 3, 4, 5, 1, 6, 7, 8, 9, 10, 2, 11, 12, 13, 14, 15],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Alice', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack', 'Bob', 'Alice', 'Liam', 'Mia', 'Noah', 'Olivia'],
    'Age': [28, 35, None, 32, 28, 28, 45, 38, None, 29, 34, None, 28, 26, None, 31, 27],
    'Salary': [60000, 75000, 80000, 90000, 70000, 60000, None, 80000, 75000, 65000, None, 72000, 60000, 85000, None, 92000, 88000],
    'Role': ['Engineer', 'Manager', 'Analyst', 'Director', 'Assistant', 'Engineer', None, 'Analyst', 'Director', 'Assistant', 'Manager', 'Manager', 'Engineer', 'Engineer', 'Manager', 'Director', 'Analyst'],
    'OfficeLocation': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston', 'New York', 'San Francisco', 'Los Angeles', None, 'Boston', 'San Francisco', 'San Francisco', 'New York', 'New York', None, 'Chicago', 'Boston']
}

challenge_1_df = pd.DataFrame(challenge_1_data)

In [2]:
challenge_2_dataset_1 = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack'],
    'Age': [28, 35, 32, 45, 28, 45, 38, None, 29, 34],
    'Hobby': ['Reading', 'Gaming', 'Painting', 'Cooking', 'Traveling', 'Photography', 'Playing Instruments', 'Fishing', 'Hiking', 'Sports'],
    'Salary': [60000, 75000, 80000, 90000, 70000, 85000, 80000, 75000, 65000, 72000]
}

challenge_2_df_1 = pd.DataFrame(challenge_2_dataset_1)

In [3]:
challenge_2_dataset_2 = {
    'ID': [1, 2, 3, 4, 5, 11, 12, 13, 14, 15],
    'Role': ['Engineer', 'Manager', 'Analyst', 'Director', 'Assistant', 'Manager', 'Engineer', 'Manager', 'Director', 'Analyst'],
    'Pet': [None, 'Dog', 'Cat', 'Fish', None, 'Cat', 'Dog', None, 'Parrot', 'Dog'],
    'FavoriteFood': ['Pizza', 'Sushi', 'Pasta', 'Burger', 'Salad', 'Sushi', 'Pizza', 'Burrito', 'Steak', 'Pizza'],
    'OfficeLocation': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston', 'San Francisco', 'New York', 'Chicago', 'Boston', None]
}

challenge_2_df_2 = pd.DataFrame(challenge_2_dataset_2)